.demo{
    margin-left:400px;
    background-color: rgba(79, 78, 78);
    width:300px;
    height:470px;
    padding-right:100px;
    border-radius:50px;
    margin-top: 40px;
    
}

img{
    margin-left:50px;
    margin-top: 50px;
    margin-left:20px;
    height:70px;
    width:70px;
    border-radius:50%;
    margin-left:40px;
    float:left;
}
h{
    color:aliceblue;
    font-family: garamond;
    padding-left:90px;
    font-size: 30px;
}
#l1{
    font-size: 20px;
    float:center;
    padding-top:75px;
    font-family: garamond;
    color:aliceblue;

}
#xx{
    margin-top:80px;
    margin-right:px;
}
#d1{
    margin-right:100px;
    margin-top:70px;
}
#l2{
    font-size: 20px;
    font-family: garamond;
    color:aliceblue;
    float:center;
    
    
    
   
}
#yyy{
    margin-left:-83px;
    margin-top:20px;

}
p{
    font-size: 20px;
    font-family: garamond;
    color:yellow;
    padding-top: 20px;
    padding-left: 50px;
    text-align:left;
    
}
