
.demo{
    color:rgb(255, 255, 255);
    background-color:rgb(79, 78, 78);
    height:525px;
    width:400px;
    margin-top: 25px;
    margin-left:550px;
    border-radius:50px;
    font-size: 30px;
    font-family: garamond;
}
.demo1{
    background-image:url('https://media.istockphoto.com/id/690445882/vector/social-media-blue-seamless-pattern.jpg?s=170667a&w=is&k=20&c=uHOW809tvEzT3UPweo573vXRs2qQrfAgYAlBwmh9gnQ=');
    background-repeat: no-repeat;
    color:azure;
    height:420px;
    width:340px;
    margin-top: 30px;
    margin-left:30px;
    border-radius:30px;
}
.demo2{
    background-color: rgb(116, 116, 220);
    height:100px;

}
img{
    height:40px;
    width:40px;
    border-radius:50px;
    margin-top: 20px;
    margin-left:5px;
}
input{
    border-radius: 40px;
    border-color: rgb(255, 255, 255);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    margin-top:250px;
    margin-right: 65px;
    width:250px;
    background-color: rgb(193, 193, 193);
}
button{
    margin-left: 250px;
    border-radius:50px;
    background-color: black;
    color:white;
    border-color: aliceblue;
    font-family: garamond;
}
.desc{
    font-size: 20px;

}
::placeholder{
    font-family: garamond;
    padding-left:10px;
}
