.demo{
    background-color: rgb(79,78,78);
    height:450px;
    width:400px;
    border-radius: 50px;
    margin-top:50px;
    margin-left:400px;
    color:rgb(255, 255, 255);
    font-size: 30px;
    font-family: garamond;
    
}

.idemo{
    height:200px;
    width:200px;
    border-radius: 50%;
    
}
.d1{
    margin-right: 200px;
    background-color: black;
    color:white;
    border-radius: 5px;
    font-family: garamond;
    border-color: aliceblue;
}
.d2{
    background-color: black;
    color:white;
    border-radius: 5px;
    font-family: garamond;
    border-color:aliceblue;
}


