body{
    background-image: url("C:\Users\Dell\Downloads\HD-wallpaper-landmarks-of-different-countries-travel-concepts-earth-big-ben-eiffel-tower-colosseum-leaning-tower-of-pisa-world-tourism-egyptian-pyramids-statue-of-liberty.jpg");
    background-repeat: no-repeat;
    background-size: 1270px 700px;
    
}
.post{
  margin-top: 50px;
  background-color: rgb(255, 255, 255);       
  text-align: center;
  height:550px;
  width:650px;
  opacity:0.8;
}
input[type=text], input[type=tel],input[type=datetime-loc],input[type=number],select {
    width:200px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 40px;
    font-family:garamond;
  }
  
  